.dropzone{
    border:2px dotted rgb(0, 0, 0);
    height:100%;
    min-height:150px;
    position:relative;
}

.dropzone:hover,
.dropzone.hover{
    background:rgba(0, 0, 0, 0.137);
}

.dropzone:before{
    content : "click or drop to image";
    position:absolute;
    left:0;
    top:0;
    height:100%;
    font-size:.9rem;
    width:100%;
    justify-content: center;
    align-items: center;
    opacity:.5;    
    display:flex;
}

.dropzone:hover:before{
}