#full-screen-loading{
    /* border:1px solid red; */
    height:calc(100vh - var(--nav-height));
    display:flex;
    width:100vw;
    position:fixed;
    /* top:0; */
    top:0;
    left:0;
    height:100vh;
    justify-content: center;
    flex-direction: column;
    gap:1em;
    background:white;
    align-items: center;
    z-index:999;
}

#full-screen-loading svg{
    font-size:var(--fs-xxl);
    color:var(--blue);
}