.facility{
}

.facility label{
    cursor:pointer;
    /* white-space: nowrap; */
    padding:.5em;
    width:fit-content;
    display:block;
    /* opacity:.5; */
    border:1px solid rgb(179, 176, 176);
    border-radius:5px;
    text-transform: capitalize;
    opacity:.4;
    font-weight:bold;
}

.facility input{
    display:none;
}


.facility input:checked ~ label,
.facility label:hover{
    opacity:.7;
    border:1px solid var(--blue);
    color:var(--blue);
}