.passwordResetContainer{
    /* border:1px solid red; */
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-gap:1.5em;
    place-items: center;
    /* margin-top:4em; */
    max-width:500px;
    /* margin-bottom:4em; */
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.passwordResetContainer.passwordResetConfirmContainer{
    grid-gap:4em;
}

.passwordResetContainer >*{
    /* border:1px solid red; */
}

.passwordResetContainer .illustration{
    place-self: center;
}
.passwordResetContainer.passwordResetConfirmContainer .illustration{
    /* display:none; */
    /* position:fixed; */
}
.passwordResetContainer.passwordResetConfirmContainer .illustration svg{
    /* display:none; */
    /* position:fixed; */
    font-size:12rem;
}
.passwordResetContainer .illustration svg{
    font-size:15rem;
}
.passwordResetContainer .form{
    width:100%;
    
}
.passwordResetContainer .form form{
    display:flex;
    flex-direction: column;
    gap:1em;
}

.passwordResetContainer .infoText,
.passwordResetContainer .form{
    max-width:500px;
    /* border:1px solid red; */
}



.passwordResetContainer .infoText{
    text-align:Center;
    font-weight:bold;
}

.passwordResetContainer .infoText >*{
    margin-bottom:.5em;
}


.passwordResetContainer .infoText h1{
    font-size:2rem;
}

.passwordResetContainer .infoText p{
    font-size:var(--fs-xl);
    color:var(--gray);
    font-weight:normal;
    width:80%;
    margin:auto;
    line-height:1.4;
    opacity:.7;
}

.passwordResetContainer .styledBtn{
    display:block;
    border:none;
    text-align: center;
    background:var(--blue);
    color:var(--fc-white);
    font-size:var(--fs-xxl);
    padding:1em 0;
    border-radius:var(--input-border-radius);
    width:100%;
    box-shadow:var(--box-shadow-properties) var(--box-shadow-blue);
    font-weight:700;
    cursor:pointer;
    transition:transform 150ms ease-in-out;
}

.passwordResetContainer .styledBtn:hover{
    transform:scale(.97);
    box-shadow:var(--box-shadow-properties) var(--box-shadow-blue-dark);
}

.passwordResetContainer .form .styledBtn{
    margin-top:2em;
}

.passwordResetContainer .form form > span{
    color:rgba(98, 98, 98, 0.609);
    display:block;
    margin:1em 0;
    font-weight:bold;
    padding-left:.2em;;
}

.passwordResetContainer .form form  .link{
    margin-left:.5em;
    color:var(--blue);
    font-weight:bold;
    cursor:pointer;
}

.passwordResetContainer .link:hover{
    text-decoration: underline;
}

.passwordResetContainer form .link.resend{
    border:none;
    background: none;
}



@media only screen and (min-width : 768px){
    .passwordResetContainer .illustration svg{
       
     }

     .passwordResetContainer{
        grid-gap:0em;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
     }
     .passwordResetContainer.passwordResetConfirmContainer .illustration svg{
        /* display:none; */
        /* position:fixed; */
        font-size:20rem;
    }
     
}



@media only screen and (min-width : 1100px){
    .passwordResetContainer{
       /* text-align:left; */
       /* border:1px solid red; */
       grid-template-columns:repeat(2,1fr);
       /* width:100%; */
       max-width:1600px;
        grid-row-gap:2em;
        margin-top:1em;
        grid-column-gap:10em;
       /* height:calc(100vh - var(--nav-height)); */
    }
    .passwordResetContainer.passwordResetConfirmContainer{
        grid-column-gap:8em;
    }
    .passwordResetContainer.passwordResetConfirmContainer .illustration{
        display:block;
    }

    .passwordResetContainer .illustration{
       grid-column:1/2;
       grid-row:1/3; 
       place-self:center end;
    }
    .passwordResetContainer .illustration svg,
    .passwordResetContainer.passwordResetConfirmContainer .illustration svg{
        font-size:30rem;
    }
    .passwordResetContainer .infoText{
        text-align:left;
        place-self : end start;
    }

    .passwordResetContainer .infoText p{
        width:100%;
        /* border:1px solid red; */
    }

    .passwordResetContainer .form{
        place-self : start start;
    }

    .passwordResetContainer .styledBtn{
        width:fit-content;
        padding:.7em 2em;    
        font-size:var(--fs-xxl);    
    }

}