.passwordResetContainer{
    /* border:1px solid red; */
    margin-top:3em;
    display:flex;
    flex-direction: column;
    gap:2em;
}

.passwordResetContainer .infoText{
    font-size:var(--fs-xxxl);
    text-align:Center;
    font-weight:bold;
    color:var(--blue);
}