.editor{
    /* border:1px solid red; */
   
}

.ck-editor__editable{
    height:200px;
    padding:1em  !important; 
    width : 100%;
    word-wrap: anywhere;
}

.ck-toolbar__items{
    font-size:.9rem !important;
}

.ck-toolbar__items > button{
    font-size: .9rem !important;
}