.Input{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    gap:1em;
    margin-bottom:1em;
}


.Input >*{
    display:block;
    width:100%;
}

.Input input{
    padding:.5em;
    font-size:var(--fs-xl);
}

.Input label{
    text-transform:capitalize;
    font-weight:500;
}