.Input{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    /* gap:1em; */
    gap:1em !important;
    /* margin-bottom:1em; */
}


.Input >*{
    display:block;
}

.Input input{
    padding:.5em;
    font-size:var(--fs-xl);
}

.Input label{
    text-transform:capitalize;
    /* font-weight:500; */
}

.Input.error input{
    border:1px solid red;
}

.basic_details .Input >*{
    width:100%;
}