.social-auth-container{
    position:relative;
    width:fit-content;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top:5em;
    /* border:1px solid red; */
    width:100%;
    gap:1em;
}
 .social-auth-container:before{
    content:"OR";
    position:absolute;
    top:-2em;
    left:50%;
    transform:translate(-50%,-100%);
    z-index:2;
    padding:0 .5em;
    color:var(--fc-white1);
    font-size:var(--fs-mini);
    background-color:var(--body-bg)
}
.social-auth-container:after{
    content:"";
    position:absolute;
    width:80%;
    height:1px;
    left:50%;
    transform:translateX(-50%);
    background-color:var(--fc-white1);
    top:-2em;
    z-index:1;
    opacity:.2;
}


.social-auth-container a{
    height:50px;
    width:50px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius:50%;
}

.social-auth-container a:hover{
}

.social-auth-container a svg{
    color:white;
    font-size:var(--fs-largest);
}


@media only screen and (min-width : 500px){
    .social-auth-container{
        grid-template-columns:repeat(2,1fr);   
    }
}


