.nav-link{
    font-size:var(--fs-xxl);
    font-weight:700;
    color:var(--blue);
    position:relative;
}

.nav-link.active:before{
    content:"";
    position:absolute;
    height:6px;
    width:30px;
    border-radius:5em;
    background:var(--blue);
    left:50%;
    transform:translateX(-50%);
    bottom:-1em;
}
a{
    /* border:1px solid red; */
}