nav{
    /* border:1px solid red; */
    display:flex;
    height:var(--nav-height);
    align-items: center;
}

.desktopNav{
    display:none;
}

.profile{
    margin-left:auto;
    margin-right:0;
}

.homeBtn{
    margin-right:auto;
    position:relative;
    z-index:999;
    margin-left:0;
}

#burger{
    display:flex;
    flex-direction: column;
    gap:.3em;
    position:fixed;
    bottom:2em;
    right:2em;
    cursor:pointer;
    z-index:999;
}

#burger >*{
    height:4px;
    width:30px;
    background:rgb(0, 0, 0);
    border-radius:5em;
}

#burger >*:hover{
    /* background:red; */
}

.mobileNav{
    position:fixed;
    top:1em;
    bottom:1em;
    background:rgb(0, 87, 168);
    /* box-shadow:var(--box-shadow-properties) rgb(187, 187, 187); */
    min-width:300px;
    border-radius:8px;
    /* padding:var(--nav-height) 2em 0; */
    right:-100%;
    transition:right .2s ease-in-out;
    display:flex;
    flex-direction:column;
    gap:1em;
    padding:4em 2em 0 2em;
}

#burgerCheckBox:checked + .mobileNav{
    right:1em;
}

#burgerCheckBox:checked ~ #burger:before{
    display:block;
}

#burgerCheckBox{
    display:none;
}

#burger:before{
    content:"";
    position:fixed;
    top:0;
    bottom:0;
    width:100vw;
    display:none;
    /* background: #06060638; */
    width:calc(100vw - 300px - 1.5em);
    left:0;
}

#burger >*{
    transition:transform 200ms ease;
}

#burgerCheckBox:checked ~ #burger >:nth-child(2){
    transform:translateX(-50px)scaleX(0);
}
#burgerCheckBox:checked ~ #burger >:first-child{
    transform:rotate(45deg)translate(-3px,-3px);
    transform-origin:top left;
}
#burgerCheckBox:checked ~ #burger >:last-child{
    transform:rotate(-45deg);
    transform-origin:bottom left;
}

#burgerCheckBox:checked ~ #burger >*{
    background:white;
}

/* .mobileNav li{
    list-style: none;
} */

.mobileNav >*{
    /* border:1px solid red; */
}

@media only screen and (min-width : 800px){
    .desktopNav{
        display:flex;
    }
    .mobileNav{
        display:none;
    }
   
    #burger{
        /* border:1px solid red; */
        display:none;
    }
    
}

a.active{
    position:relative;
}

a.active:before{
    content : "";
    position:absolute;
    height:5px;
    width:30px;
    border-radius:5em;
    background:var(--blue);
    bottom:-1em;
    left:50%;
    transform:translateX(-50%);
}

a.navBtnStyle{
    padding:.7em 2em;
    border-radius:5em;
    background:white;
    box-shadow:1px 1px 20px rgb(231, 231, 231);
}
a.navBtnStyle:hover{
    box-shadow: var(--box-shadow-properties) rgb(202, 202, 202);
}
nav > a{
    font-size:var(--fs-xl);
    text-decoration: none;
    font-weight:bold;
    margin:0 1em;
    color:var(--blue);
}

.mobileNav a{
    text-decoration: none;
    /* font-weight:bold; */
    /* color:var(--blue); */
    color:white;
    padding:.5em 0;
    font-size:var(--fs-xl);
    display:flex;
    gap:1.5em;
    flex-direction: row;
    align-items:Center;
    transition:all 200ms ease-in-out;
    opacity:.8;
}

.mobileNav a:hover{
    opacity:1;
    /* transform:scale(.98); */
    transform-origin:center left;
}

.mobileNav a svg{
    font-size:var(--fs-xxxl);
}

nav a[href="/register"],
nav a[href="/user"]{
    margin-right:0;
}










